@charset "utf-8";
/* CSS Document */
/** MENU TOPO*/
.menu {
    background-image: url('../images/bg_top_menu.gif');
    height: 35px;
    margin: 0 auto;
    padding: 0;
    width: 910px;
}
#centeredmenu {
   border: 0 dashed red;
    float: left;
    height: 20px;
    margin-top: 9px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 230px;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:0px 10px;
   color:#edebf8;
   text-decoration:none;
   font-size: 0.95rem;
}
#centeredmenu ul li a:hover {
  text-decoration:underline;
   
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
  
   font-weight:bold;
}
#logout{
    float: right;
    margin: 7px 10px 0 0;
}
#logout a{
   float:right;
   height:20px;
   margin-right:10px;
   border:0px dashed red;
   color:#edebf8;
   font-weight:bold;
   text-decoration:none;
}
