@charset "utf-8";
/* CSS Document */

/** MENU LATERAL*/

a{
	color:#EDEBF8;
	text-decoration: none;	
}			
.menu_list {
	width: 180px;
	margin: 40px 0 0 0;
}
.menu_head {
	padding: 6px 10px;
	cursor: pointer;
	position: relative;
	margin:1px;
    font-weight:bold;
    background: #303030;
	color:#edebf8;
}
.menu_body {
	display:none;
}
.disponivel{
  display:block;
}
.menu_body a {
  display:block;
  color:#303030;
  background:#CFCFCF;
  padding-left:10px;
  font-weight:bold;
  text-decoration:none;
}
.menu_body a:hover {
  color: #1a1044;
  text-decoration:underline;
}

/*LOGIN
#container
{
	width:218px;
	border:1px dashed red;
}
#tabbox
{
	height:30px;
}
#panel
{
	background-color:#FFF;
	height:100px;
	border:0px dashed red;
	
}
.tab
{
background: #dedede;
display: block;
height: 30px;
line-height: 30px;
text-align: center;
width: 80px;
float: right;
font-weight: bold;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius: 4px 4px 0px 0px;
}

.signup
{
	margin-left:8px;
	
}
.select
{
	background-color:#FFF;
	
}
#loginbox
{
	height:100px;
	padding:10px;
}
#signupbox
{
	height:100px;
	padding:10px;
	display:none;
}

*/


/* PUBLICIDADE */

.publicidade{
	border:0px dashed red;
	padding:5px 0 0 0;
}
.boxPublicidade a{
	background:url(../images/publiAqui.jpg);
	float:left;
	margin-left:2px;
	margin-right:1px;
	width:106px;
	height:106px;
}
.boxPublicidade a:hover{
	background:url(../images/publiAquiHover.jpg);
	float:left;
	margin-left:2px;
	margin-right:1px;
	width:106px;
	height:106px;
}